<link rel="stylesheet" type="text/css" href="css/style.css"/>
<div id="food">
<%if meat == nil%>
<%else %>
<%count=0%>
<%meat.each do|top|%>
<img src = "./img/<%=top%>.jpg"img class=food-image>
<form method = "post" action = "/checkout">
<%=top%>
<p><input  type="radio"  value="<%=top%>" name = "final_topping[] +<%=count.to_s%>" checked="checked">yes</p>
<p><input type= "radio" value="" name = "final_topping[] +<%=count.to_s%>">no</p>
<%count+=1%>
<%end%>
<%end%>
</form>

<%if cheese == nil%>
<%else%>
<%count=0%>
<%cheese.each do|top|%>
<img src = "./img/<%=top%>.jpg"img class=food-image>
<form method = "post" action = "/checkout">
<%=top%>
<p><input  type="radio"  value="<%=top%>" name = "final_topping[] +<%=count.to_s%>" checked="checked">yes</p>
<p><input type= "radio" value="" name = "final_topping[] +<%=count.to_s%>">no</p>
<%count+=1%>
<%end%>
<%end%>

</form>
<%if sauce == nil%>
<%else%>
<%count=0%>
<%sauce.each do|top|%>
<img src = "./img/<%=top%>.jpg"img class=food-image>
<form method = "post" action = "/checkout">
<%=top%>
<p><input  type="radio"  value="<%=top%>" name = "final_topping[] +<%=count.to_s%>" checked="checked">yes</p>
<p><input type= "radio" value="" name = "final_topping[] +<%=count.to_s%>">no</p>
<%count+=1%>
<%end%>
<%end%>
</form>

<%if crust == nil%>
<%else%>
<%count=0%>
<%crust.each do|top|%>
<img src = "./img/<%=top%>.jpg"img class=food-image>
<form method = "post" action = "/checkout">
<%=top%>
<p><input  type="radio"  value="<%=top%>" name = "final_topping[] +<%=count.to_s%>" checked="checked">yes</p>
<p><input type= "radio" value="" name = "final_topping[] +<%=count.to_s%>">no</p>
<%count+=1%>
<%end%>
<%end%>
</div>

<input type = "submit">
</form>

